main{
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
}
.about{
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.a-title{
    width: 100%;
}
.a-title h1{
    font-size: 35px;
}
.a-title p{
    font-size: 15px;
}
.a-left{
    flex: 1;
}
.a-left img{
    box-shadow: 1px 1px 5px black;
    border: 10px solid white;
    width: 300px;
}
.a-right{
    flex: 1;
}
.a-right h2{
    font-size: 30px;
    padding: 5px 0px;
}
.a-right .t-info{
    padding: 20px 0px;
    font-size: 15px;
}
.a-right .p-info{
    display: flex;
    flex-wrap: wrap;
}
.a-right .p-info p{
    width: 50%;
    padding: 10px 0px;
    font-size: 15px;
}