.blog {
  min-height: 100vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 0px;
}
.b-title {
  width: 90%;
  margin: auto;
}
.b-title h1 {
  font-size: 35px;
}
.b-title p {
  font-size: 15px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(142, 90%, 61%);
}

.card {
  color: var(--clr-neutral-100);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: ease 500ms;
  margin: 15px;
}
.c1 {
  background-image: url(https://images.unsplash.com/photo-1519337265831-281ec6cc8514?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YmxvZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
.c2 {
  background-image: url(https://images.unsplash.com/photo-1599420186946-7b6fb4e297f0?ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw3NXx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
.c3 {
  background-image: url(https://images.unsplash.com/photo-1582481301742-4ad427c08e23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}
.c4 {
  background-image: url(https://images.unsplash.com/photo-1636869812142-6a5cdda29d5d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=464&q=80);
}
.c5 {
  background-image: url(https://images.unsplash.com/photo-1636844799799-fb41e4dc62ee?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzMnx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
.c6 {
  background-image: url(https://images.unsplash.com/photo-1636845638970-13e0b2ed7630?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzMHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
.c7 {
  background-image: url(https://images.unsplash.com/photo-1636889864559-39d71fe1dda7?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyN3x8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
.c8 {
  background-image: url(https://images.unsplash.com/photo-1636898503609-283db4930c19?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
.c9 {
  background-image: url(https://images.unsplash.com/photo-1636879577820-c57749ae578e?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
.card:hover {
  transform: scale(1.05);
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0%/ 0),
    hsl(20 0% 0%/ 0.6) 30%,
    hsl(0 0% 0%/ 1)
  );
  transform: translateY(65%);
  transition: ease 500ms;
}
.card:hover .card-content {
  transform: translateY(0);
  transition-delay: 300ms;
}

.card-content > *:not(.card-title) {
  opacity: 0;
  transition: opacity 500ms linear;
  transition-delay: 800ms;
}
.card:hover .card-content > *:not(.card-title) {
  opacity: 1;
}
.card-title {
  position: relative;
  width: max-content;
}
.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: 0;
  width: 100%;
  background: var(--clr-neutral-400);
  transform: scaleX(0);
  transform-origin: left;
  transition: ease 500ms;
}

.card:hover .card-title::after {
  transform: scaleX(1);
}
.card-body {
  color: rgb(255, 255, 255, 0.8);
  font-size: 90%;
}
.b-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-400);
  padding: 0.25em 1.25em;
  border-radius: 0.25rem;
  font-weight: bold;
}
.b-button:hover,
.b-button:focus {
  background-color: var(--clr-neutral-100);
}


@media (max-width: 900px) {
  .b-title {
    width: 100%;
  }
}