footer{
  background-image: -webkit-linear-gradient(270deg, #000000 0, #0000005d 100%), url(./img/footer.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;

}
.footer{
  width: 80%;
  margin:auto;
  display: flex;
  padding: 80px 0px;
}
.f-wrapper {
  display: flex;
}
.f-left {
  width: 50%;
}
.f-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.f-title {
  font-size: 60px;
  width: 80%;
}
.f-info {
}
.f-info-item {
  margin: 50px 0px;
  display: flex;
  align-items: center;
  font-weight: 700;
  width: 70%;
}
.f-icon {
  width: 30px;
  margin-right: 20px;
}
.f-desc {
  font-weight: 100;
}
fieldset{
  width: 100%;
  border: none;
}
form {
  width: 100%;
  margin-top: 30px;
}
input {
  width: 51%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  margin: 20px 0px;
  padding: 10px 10px;
  font-size: 14px;
}
input:focus {
  outline: none;
}
textarea {
  width: 100%;
  margin: 20px 0px;
  padding-left: 10px;
  font-size: 14px;
}
textarea:focus {
  outline: none;
}
button {
  border: none;
  padding: 15px;
  background-color: #59b256;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .f-wraper {
    flex-direction: column;
    padding: 0px 50px;
  }
  .f-title {
    font-size: 30px;
  }
  .f-info-item {
    margin: 20px 0px;
    width: 100%;
  }
  .f-desc {
    display: none;
  }
  form {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
  }
  input {
    width: 100%;
    margin: 10px 0px;
  }
}

@media (max-width: 900px) {
  .footer{
    width: 90%;
  }
}