header {
  color: white;
  width: 100%;
  height: 100vh;
  background-image: -webkit-linear-gradient(270deg, #000000 0, #0000005d 100%),
    url(https://images.unsplash.com/photo-1582653547187-2bb73b2d7b67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
nav {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 10vh;
}
.logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 22px;
}
.logo h1 {
  padding: 0px 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 30px;
  font-weight: bolder;
  font-family: "Sacramento", cursive;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul a {
  text-decoration: none;
}

nav ul a li {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  color: white;
  font-size: 18px;
}
nav ul a li:hover {
  color: #00bfb2;
  border-bottom: 1px solid white;
  font-size: 20px;
  transition: 0.25s;
}
.search i {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  line-height: 20px;
  background-color: white;
  font-size: 20px;
  align-items: center;
  cursor: pointer;
  padding: 2px;
  color: black;
}
#search{
    text-align: center;
}
#close {
  display: none;
  z-index: 10;
  position: relative;
  text-align: center;
}
.search .input-container {
  background-color: rgba(0, 0, 0, 0.842);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 4;
  transition: ease 0.5s;
}
.search .input-container .input-row {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.search .input-container .input-row .input {
  width: 660px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search .input input {
  width: 600px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}
.search .input i {
  text-align: center;
  line-height: 45px;
  font-size: 30px;
  width: 45px;
  height: 45px;
  border: 3px white solid;
  border-radius: 10px;
}
.head {
  margin: auto;
  height: 80vh;
  width: 80%;
  display: flex;
  align-items: center;
}
.head-left {
  flex: 1;
}
.head-left h1 {
  color: #00bfb2;
  font-size: 50px;
  padding: 20px 0px;
}
.head-left p {
  width: 80%;
  padding: 10px;
}
.head-left .button {
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px 10px;
  border: transparent 1px solid;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  background-color: #00bfb2;
  transition: ease 0.25s;
}
.head-left .button:hover {
  background-color: transparent;
  color: #00bfb2;
  border: #00bfb2 1px solid;
  transition: ease 0.05s;
}
.head-left .button:active {
  background-color: white;
  color: #00bfb2;
  border: #00bfb2 1px solid;
  transition: ease 0.25s;
}
.head-right {
  flex: 1;
  position: relative;
}
.head-right img {
  float: right;
  position: relative;
  width: 100%;
}
.media {
  height: 10vh;
  align-items: center;
  display: flex;
  width: 100%;
}
.media hr {
  padding: 0px 5px;
  width: 60%;
}
.icon-media {
  margin: 0px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.media a {
  list-style: none;
  padding: 5px;
  width: 20px;
}
.media a i {
  font-size: 20px;
  color: white;
  text-decoration: none;
  width: 20px;
  height: 20px;
  transition: ease 0.1s;
}
.media a i:hover {
  color: #00bfb2;
  font-size: 25px;
}
