.services{
    min-height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.s-title{
    width: 100%;
}
.s-title h1{
    font-size: 35px;
}
.s-title p{
    font-size: 15px;
}
.s-items{
    display: flex;
    width: 100%;
}
.s-item{
    width: 30%;
    text-align: center;
    border-radius: 5px;
    flex: 1;
    margin: 20px;
    transition: ease 0.5s;
    cursor: pointer;

}
.s-item:hover{
    box-shadow: 4px 4px 10px #00bfb2;
    box-shadow: -4px -4px 50px #00bfb2;
    transform: scale(1.05,1.05);
}
.s-item i{
    font-size: 25px;
    padding: 20px;
}
.s-item h4{
    font-size: 22px;
    padding: 20px;
    display: block;
    transition: ease 0.5s;
}
.s-item:hover h4 {
    color: #00bfb2;
}
.s-item p{
    font-size: 15px;
    padding: 10px;
}
